.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.niceCheck {
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox.png);
  overflow: hidden;
}

.niceCheck input {
  margin-left: -100px;
}

.niceChecked {
  background-position: 0 -17px;
}

.niceCheckDisabled {
  background-image: url(img/checkbox-disabled.png);
}

#label4 input,
#label5 input,
#label6 input{
  position: absolute;
  clip: rect(0,0,0,0);
}

#label4 label,
#label5 label,
#label6 label{
  cursor: pointer;
}

#label4 label:after,
#label5 label:after,
#label6 label:after{
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(img/checkbox-2.png);
  position: relative;
  top: 3px;
  margin-left: 15px;
}

#label4 input:checked + #label4 label:after,
#label5 input:checked + #label5 label:after,
#label6 input:checked + #label6 label:after{
  background-position: 0 -17px;
}

#label4 label:hover:after,
#label5 label:hover:after,
#label6 label:hover:after{
  background-position: 0 -34px;
}

#label4 input:checked + #label4 label:hover:after,
#label5 input:checked + #label5 label:hover:after,
#label6 input:checked + #label6 label:hover:after {
  background-position: 0 -51px;
}

nav {
  background-color: #8A2BE2;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav li ul {
  background-color: #8A2BE2;
  position: absolute;
  left: 0;
  top: 40px;
  width: 200px;
}

nav li li {
  position: relative;
  margin: 0;
  display: block;
}

nav li li ul {
  position: absolute;
  top: 0;
  margin: 0;
  left: 200px;
}

nav a {
  line-height: 40px;
  padding: 0 12px;
  margin: 0 12px;
  color: #fff;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav a:focus,
nav a:active {
  color: rgb(50,50,50);
}

nav li li a {
  border-bottom: 1px solid rgb(200,50,50);
  margin: 0 10px;
  padding: 0;
}

nav li li:last-child a {
  border-bottom: none;
}

nav li.dropdown>a {
  background-position: right 20px;
  background-repeat: no-repeat;
}

nav li li.dropdown >a {
  background-position: right 16px;
  background-repeat: no-repeat;
}

ul.sub-menu {
  display: none;
}

.menu-item {
  border: 2px solid red;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.menu-item .submenu {
  height: 30px;
  width: 75px;
  background: #9932CC;
  margin: 0 10px;
  display: none;
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
}

.dropdown_menu_item {
  float: left;
}

.checkbox_item {
  float: right;
  padding-bottom:35px;
}

.vamp {
  font-size: 45px;
  color: #92a5de;
  text-shadow: 0px 0px 0 rgb(137,156,213),1px 1px 0 rgb(129,148,205),2px 2px 0 rgb(120,139,196),3px 3px 0 rgb(111,130,187),4px 4px 0 rgb(103,122,179),5px 5px 0 rgb(94,113,170),6px 6px 0 rgb(85,104,161),7px 7px 0 rgb(76,95,152),8px 8px 0 rgb(68,87,144),9px 9px 0 rgb(59,78,135),10px 10px 0 rgb(50,69,126),11px 11px 0 rgb(42,61,118),12px 12px 0 rgb(33,52,109),13px 13px 0 rgb(24,43,100),14px 14px 0 rgb(15,34,91),15px 15px 0 rgb(7,26,83),16px 16px 0 rgb(-2,17,74),17px 17px 0 rgb(-11,8,65),18px 18px 0 rgb(-19,0,57),19px 19px 0 rgb(-28,-9,48), 20px 20px 0 rgb(-37,-18,39),21px 21px 20px rgba(0,0,0,1),21px 21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
}
