body {
    width: 910px;
    margin: auto;
    font-family: "Lucida Sans Unicode", sans-serif;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}
.top *{
float: left;
display: inline-block;
}
.top__phone{
  padding-left: 10px;
}
.top__form{
  background: blue;
  padding-left: 10px;
  font-size: 10px;
}
.top__form a{
  color: #fff;
  }

.top__links {
}
.menu *{
  float: left;
  display: inline-block;
  }

  .menu_buttons{
  }
