.*{
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
}


.left{
	float: left;
width: 250px;
}

.right{
float: right;
width: 250px;
}

.center{
display: inline-block;

}

#left_form{
	color: red;
}

#right_form{
color: blue;
}
#right{
	color: blue;
}
.tool_tips{
	display: none;
	position: absolute;
	left: 33%;
	width: 400px;
	height: 100px;
	background-color: rgba(255, 20, 201, 0.7);
	border-radius: 34px;
}
.tool_tips p{
	font-size: 25px;
	text-align: center;;
}
