.* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    height: 100%;
}

header {
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.83);
}

.tasks{
  margin-top: 50px;
margin-left: 50px;
}
.left {
    text-align: center;
    float: left;
    width: 20%;
}

.right {
    text-align: center;
    float: right;
    width: 20%;
}

.center {
    display: inline-block;
    width: 60%;
}

h2 {
    margin: 10px auto;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px grey;
    padding-bottom: 10px;
}

.tasks {
          overflow: hidden;
      }
      .task {
          overflow: hidden;
      }
      .task-status {
          float: left;
      }
      .task-name-done {
          text-decoration: line-through;
      }
.form {
    text-align: center;
}

.button {
    margin: 10px;
}

#clearDone{
display:inline-block;
position: absolute;
left: 43%;
}

#left_form {
    color: red;
}

#right_form {
    color: blue;
}

#right {
    padding-left: 15px;
    color: blue;
}

.tool_tips {
  z-index: 1;
    display: none;
    position: absolute;
    left: 37%;
    width: 400px;
    height: 100px;
    background-color: rgb(255, 20, 20);
    border-radius: 34px;
    border: 2px solid black;
}

.tool_tips p {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #003366;
    line-height: 40px;
}

footer p {
    color: #ccffff;
    font-size: 20px;
    text-align: center;
}
